:root {
    --spacing: 1rem;
    --input-height: 2.8rem;
    --radius: 0.5rem;
    --blue: #007bff;
    --gray-light: #f0f0f0;
    --shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-image: url('/img/fondo1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contenedor {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: row;
}

.izquierda {
    flex: 1;
    /* Opcional: transparente para ver fondo */
}

.derecha {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing);
}

.formulario {
    background-color: white;
    border-radius: 2rem;
    padding: 2rem;
    width: 100%;
    max-width: 28rem;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formulario img {
    width: 100%;
    border-radius: var(--radius);
    padding: 0 1rem;
    margin: 2rem 0;
}

.input-box {
    height: calc(var(--input-height) + 0.5rem);
    border-radius: var(--radius);
    border: 3px solid #3f61a1;
    padding: 0 1rem;
    background-color: #ffffff;
    font-size: 1rem;
    color: black; 
    margin: 0.1rem 0;
}

.btn {
    height: var(--input-height);
    border: none;
    border-radius: var(--radius);
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
}

.btn-blue {
    background-color: #3f61a1;
    border-radius: 2rem;
    color: white;
}

.btn-google {
    background-color: white;
    border: 1px solid #000000;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0 1rem;
    border-radius: 2rem;
    text-decoration: none; /* Quita el subrayado */
}

.btn-google img {
    width: 3.2rem;
    height: 1.2rem;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #000; /* Color del texto */
    margin: 0.1rem 0;
    font-weight: bold;
    font-size: 0.9rem;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #000;
    margin: 0 1rem;
}

.promo-text {
    text-align: center;
    font-size: 0.8rem;
    color: #000000;
    margin-top: 0.5rem;
    line-height: 1.4;
    padding: 0 1.3rem;
    font-weight: bold;
}

.olvido {
    text-decoration: none;
    color: #3f61a1;
    font-weight: bold;
}

@media (max-width: 768px) {
    .contenedor {
        flex-direction: column;
    }

    .izquierda {
        display: none;
    }

    .derecha {
        flex: 1;
        justify-content: center;
        align-items: center;
    }

    .formulario {
        margin: auto;
    }
}